*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Poppins;
}
/* side bar side */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17%;
    padding: 35px 30px;
    background-color: aqua;
}
.side-heading{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
}
.side-title1{
    font-weight: 600;
    font-size: 26px;
}
.side-tile2{
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 22px;
    left: 200px;
    color: #838383;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-name{
    font-weight: 500;
    font-size: 15px;
    color:#9197B3 ;
}

.nav{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
}
.span-1{
    margin-left: 164px;
}
.span-2{
    margin-left: 140px;
}
.span-3{
    margin-left: 165px;
}
.span-4{
    margin-left: 158px;
}
.span-5{
    margin-left: 186px;
}

/* side bott */


