*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: Poppins;
}
/* side bar side */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    padding: 35px 30px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}
.side-heading{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
}
.one{
    background-color: #5932EA;
    padding-top: 12px ;
    padding-bottom: 12px;
    border-radius: 12px;
    padding-right:10px; 
    padding-left: 5px;
}
.side-title1{
    font-weight: 600;
    font-size: 26px;
}
.side-tile2{
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 22px;
    left: 200px;
    color: #838383;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-name{
    font-weight: 500;
    font-size: 15px;
    color:#9197B3 ;
}

.nav{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
}
.span-1{
    margin-left: 164px;
}
.span-2{
    margin-left: 130px;
}
.span-3{
    margin-left: 165px;
}
.span-4{
    margin-left: 158px;
}
.span-5{
    margin-left: 186px;
}

/* side bottom */

.box-text{
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: linear-gradient(107.91deg, #EAABF0 7.37%, #4623E9 95.19%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 20px;
    border-radius: 20px;
    margin-top: 200px;


}
.btn{
    font-weight: 600;
    font-size: 14px;
    color: #4925E9;
    background-color: white;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;

}
.pic-part{
    display: flex;
    margin-top: 40px;
}
.text-title{
    font-weight: 500;
    font-size: 14px;
}
.text-part p{
    font-weight: 400;
    font-size: 12px;
}
.text-part{
    margin-left: 10px;
}
.pic-part span{
    margin-left: 80px;
}
/* rightside content */
.rightside-content{
    width: 81%;
    background: #f1f1f5;
    padding: 40px 80px;
    overflow: auto;
}
/* section 1 */
.section-1{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-left: 770px;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;

}
.search-bar2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.search-bar input{
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 12px;
    border: none;
    
    
}
.search-icon{
    margin-right:70px;
}
.search-bar2 input{
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    border-radius: 12px;
}
/* section 2 */
.section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-color: white;
    padding: 40px 50px;
    border-radius: 20px;
}
.content-one, .content-two,.content-three{
    display: flex;
    flex-direction: row;
    gap: 18px;
    
}
.txt-side p{
    font-weight: 400;
    font-size: 14px;
    color: #ACACAC;
}
.number{
    font-weight: 700px;
    font-size: 32px;
    color: #333333;
}
.last-txt span{
    color: #00AC4F;
}
.last-txt2 span{
    color:#D0004B;
}

.last-txt2{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.photo-sxn{
    position: relative;
}
.pic1{
    position: absolute;
    top: 10px;
    right: 70px;
}
.pic2{
    position: absolute;
    top: 10px;
    right: 50px;
}
.pic3{
    position: absolute;
    top: 10px;
    right: 30px;

}
.pic4{
    position: absolute;
    top: 10px;
    right: 10px;
}
.pic5{
    position: absolute;
    top: 10px;
    right: -6px;
}
/* section 3 */
.section-3{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 570px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
}
/* .right-input{
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 5px;
    border-radius: 12px;
} */
.rightside{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ls-title{
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}
.leftside p{
    color: #16C098;
}
.section3{
    background-color: white;
    padding: 10px 10px;
    margin-top: 50px;
    border-radius: 20px;
}
/* table */
.content-table{
    border-collapse: separate;
    border-spacing: 70px 50px;
    margin-top: 40px;
    width: 100%;
}
th{
    color: #B5B7C0;
    font-weight: 500;
    font-size: 14px;
}
td{
    font-weight: 500;
    font-size: 14px; 
    color: #292D32;
}
.footer-side{
    display: flex;
    flex-direction:row ;
    margin-left: 70px; 
    margin-right:80px ; 
    justify-content: space-between;
}
.footer-txt{
    display: flex;
    flex-direction: row;
    color: #B5B7C0;
    font-weight: 500;
    font-size: 18px;
}
.pagnation-side{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.page{
    padding: 5px 15px;
    background-color: #B5B7C0;
    border-radius: 9px;
}
.two{
    background-color: #5932EA;
}





