*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Poppins;
}
/* side bar side */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17%;
    padding: 35px 30px;
    background-color: aqua;
}
.side-heading{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
}
.side-title1{
    font-weight: 600;
    font-size: 26px;
}
.side-tile2{
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 22px;
    left: 200px;
    color: #838383;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-name{
    font-weight: 500;
    font-size: 15px;
    color:#9197B3 ;
}

.nav{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
}
.span-1{
    margin-left: 164px;
}
.span-2{
    margin-left: 140px;
}
.span-3{
    margin-left: 165px;
}
.span-4{
    margin-left: 158px;
}
.span-5{
    margin-left: 186px;
}

/* side bottom */
.sidebar-bottom{

}
.box-text{
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: linear-gradient(107.91deg, #EAABF0 7.37%, #4623E9 95.19%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 20px;
    border-radius: 20px;
    

}
.btn{
    font-weight: 600;
    font-size: 14px;
    color: #4925E9;
    background-color: white;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;

}
.pic-part{
    display: flex;
    margin-top: 40px;
}
.text-title{
    font-weight: 500;
    font-size: 14px;
}
.text-part p{
    font-weight: 400;
    font-size: 12px;
}
.text-part{
    margin-left: 10px;
}
.pic-part span{
    margin-left: 80px;
}
/* rightside content */
.rightside-content{
    width: 83%;
    background: #56e237;
    padding: 40px 80px;
}
.right-header{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    padding-top: 10px;
    padding-right: 50px;
}


